body{
    margin: 0;
    padding: 0;
    cursor: url(images/aim.png), text;
    overflow: hidden;
}

body:before{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(images/bg.png)  bottom left;
}

@keyframes enemyfly{
    0%
    {
        left: 150%;
        top: 130%;
    }
    25%
    {
        left: 80%;
        top:15%;
    }
    50%
    {
        left: 50%;
        top:30%;
    }
    75%
    {
        left: 40%;
        top:30%;
    }
    100%
    {
        left: -50%;
        top:10%;
    }
    83.32%
    {
        left: 15%;
        top:28%;
    }
    65%
    {
        left: -47%;
        top:76%;
    }
    28.4%
    {
        left: 19.7%;
        top:67%;
    }
    73.85%
    {
        left: -48.15;
        top:-68%;
    }
    19.58%
    {
        left: 48.19;
        top:46%;
    }
    90.45%
    {
        left: 54.15;
        top:42%;
    }

}
input + label{
    position: absolute;
    left: -100px;
    z-index: 1;
    width: 36px;
    height: 34px;
    display: block;
    z-index: 5;
    transform: translate(-50%,-50%);
    background: url(images/duck_black.png) no-repeat left center;
    background-position: -138px  0;
}

input:checked + label{
    opacity: 0;
    transition: 0.5s;
    transform: rotate(160deg);
    transform-origin: 60%;
    z-index: -5;
}

.enemy:nth-last-of-type(1){
    animation: enemyfly 10s linear 1s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(2){
    animation: enemyfly 15s linear 5s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(3){
    animation: enemyfly 20s linear 10s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(4){
    animation: enemyfly 25s linear 15s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(5){
    animation: enemyfly 30s linear 20s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(6){
    animation: enemyfly 35s linear 25s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(7){
    animation: enemyfly 38s linear 30s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(8){
    animation: enemyfly 32s linear 34s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(9){
    animation: enemyfly 46s linear 44s infinite;
    cursor: url(images/aim.png), text;
}

.enemy:nth-last-of-type(10){
    animation: enemyfly 53s linear 48s infinite;
    cursor: url(images/aim.png), text;
}
#score{
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    background-color:#dadada ;
    width: 100%;
    z-index: 3;
    text-align: center;
    font-size: 45px;
}

#score:after{
    content: counter(score);
    display: inline-block;
}

#score:before{
    content: 'Score : ';
    display: inline-block;
    margin-right: 10px;

}

input:checked{
    counter-increment: score;
}